<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatroom</title>
    <link href="../public/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  </head>
  <body>

    <div id="app">
      <div v-if="isShowErrorTip" class="alert alert-danger" role="alert" id="errorTip">
        {{ errorMessage }}
      </div>

      <div class="chatroomMain" ref="isJoinChatroom" v-if="isJoinChatroom">
        <div id="listDiv" ref="listDiv">
          <ul class="list-group">
            <li v-for="item in massageList" :class="item.isMe ? 'list-group-item list-group-item-primary' : 'list-group-item'" style="display: flex;">
              <div style="width: 10vw;">
                {{ item.time }}
              </div>
              <div style="width: 90vw;">
                {{ item.content }}
              </div>
            </li>
          </ul>
        </div>
        <div id="inputContentDiv" class="input-group">
          <input v-model="inputContent" type="text" class="form-control" placeholder="請輸入訊息內容" aria-label="請輸入訊息內容" >
          <button class="btn btn-outline-secondary" type="button" @click="sendSpeak()" >發送</button>
          <button class="btn btn-outline-secondary" type="button" @click="sendLeaveRoom()">離開房間</button>
        </div>
      </div>
      <div class="selectMain" v-else>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelectChatroomSelect">請選擇聊天室</label>
          <select v-model="selectChatroom" class="form-select" id="inputGroupSelectChatroomSelect">
            <option value="" disabled selected>--請選擇--</option>
            <option v-for="item in chatroom" :value="item.value">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="input-group mb-3">
          <input v-model="inputName"  type="text" class="form-control" placeholder="請輸入使用者名稱" aria-label="請輸入使用者名稱" aria-describedby="joinRoomButton">
          <button class="btn btn-outline-secondary" type="button" id="joinRoomButton" @click="sendJoinRoom()">進入聊天室</button>
        </div>
      </div>
    </div>

    <script src="../public/js/chatroom.js"></script>
  </body>
 
</html>