body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chatroomMain {
  display: flex;
  flex-direction: column;
}

.selectMain {
  width: 50vw;
  height: 50vh;
  transform: translate(50%, 50%);
}

#listDiv {
  width: 100%;
  height: 95vh;
  overflow: auto;
}

#inputContentDiv {
  display: flex;
  width: 100%;
  height: 5vh;
}

#errorTip {
  position:absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  opacity: 0.7;
}